<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style/static.css">
    <link rel="stylesheet" href="../static/style/added.css">
    <title>Header</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__content">
                <nav class="header__nav">
                    <ul class="nav__list">
                        <li class="nav__list-item">
                            <a href="#" class="nav__list-link">как голосовать</a>
                        </li>
                        <li class="nav__list-item">
                            <a href="#" class="nav__list-link ">
                                <img src="../static/image/Logo.png" alt="logo">
                            </a>
                        </li>
                        <li class="nav__list-item">
                            <a href="#" class="nav__list-link">личный кабинет</a>
                        </li>
                    </ul>
                </nav>
                <button class="btn btn-warning myBtn">
                    Вход
                </button>
            </div>
        </div>
    </header>
</body>
</html>