.footer__content 
    .footer__img-links 
        a.footer__logo(href="#")
            img(src="../img/logo.png", alt="лого")
        .footer__links 
            svg.footer__link(tabindex="0")
                use(xlink:href="./img/sprite.svg#classmate")
            svg.footer__link(tabindex="0")
                use(xlink:href="./img/sprite.svg#wk")
    nav.footer__nav
        ul.footer__list-first.footer__nav-list.list-reset 
            li.footer__nav-item-first 
                a(href="#") О&nbsp;нас
            li.footer__nav-item-other 
                a(href="#") О&nbsp;компании 
            li.footer__nav-item-other 
                a(href="#") Блог 
        ul.footer__list-second.footer__nav-list.list-reset 
            li.footer__nav-item-first 
                a(href="#") Услуги 
            li.footer__nav-item-other 
                a(href="#") Доставка 
            li.footer__nav-item-other 
                a(href="#") Рассрочка и&nbsp;кредит
            li.footer__nav-item-other 
                a(href="#") Сборка и&nbsp;установка 
        ul.footer__list-third.footer__nav-list.list-reset 
            li.footer__nav-item-first 
                a(href="#") Связь с&nbsp;нами 
            li.footer__nav-item-other 
                a(href="#") Обратная связь 
            li.footer__nav-item-other 
                a(href="#") Контакты 
        ul.footer__list-fourth.footer__nav-list.list-reset 
            li.footer__nav-item-first 
                a(href="/coop.html") Сотрудничество 
            li.footer__nav-item-other 
                a(href="#") Поставщикам 
            li.footer__nav-item-other 
                a(href="#") Оптовикам 
            li.footer__nav-item-other 
                a(href="#") Карьера
.footer__author 
    span.footer__author-quote SDP®   2011-2021