- var upnavs = [{upnav: 'О\u00A0компании'}, {upnav: 'Гарантия и\u00A0возврат'}, {upnav: 'Корпоративным клиентам'}, {upnav: 'Дизайн-решение'}]
- var navs = [{nav: 'Каталог'}, {nav: 'Магазины'}, {nav: 'Шоу-рум'}, {nav: 'Доставка и\u00A0оплата'}, {nav: 'Дисконт'}, {nav: 'Контакты'}]
.header__content
    .header__num-wrap
        svg.header__phone
            use(xlink:href="./img/sprite.svg#phone")
        span.header__num +7 (495) 885-45-47
    ul.header__upnav-list.list-reset
        each upnavig in upnavs
            li.header__upnav-item
                a.header__upnav-link(href="#")=upnavig.upnav 
    a.header__logo(href="/")
        img(src="./img/logo.png", alt="лого компаний по мебели")
    nav.header__nav.nav
        ul.nav__list.list-reset
            each navig in navs
                li.nav__item
                    a.nav__link(href="catalog.html")=navig.nav
    form.header__form(action="#")
        svg.header__lupa
            use(xlink:href="./img/sprite.svg#lupa")
        input.header__input(type="text", placeholder="Я\u00A0хочу купить...") 
        .header__arrow-wrap 
            a.header__arrow.header__arrow--purple(tabindex="0")
    .header__svg-wrap 
        button.header__btn
            svg.header__user
                use(xlink:href="./img/sprite.svg#user")
        button.header__btn
            svg.header__cart
                use(xlink:href="./img/sprite.svg#cart")