<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/added.css">
    <title>404</title>
</head>
<body>
    <main>
        <div class="container">
            <div class="content">
                <img class="wrong_photo" src="../static/image/undraw_access_denied_re_awnf.svg" alt="smt wrong">
                <h1 class="wrong_title">404, {{ phrase }}</h1>
            </div>
        </div>
    </main>
</body>
</html>